<div class="sidebar" data-background-color="white" data-active-color="danger">

	<div class="sidebar-wrapper">
        <div class="logo">
            <a href="{{ path('homepage') }}" class="simple-text">
                {{ app.config.project_title }}
            </a>
        </div>

        <ul class="nav">
            <li>
                <a href="{{ path('homepage') }}">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="{{ path('students') }}">
                    <i class="ti-user"></i>
                    <p>Students</p>
                </a>
            </li>
        </ul>
	</div>
</div>